<h2> Admin Dashboard</h2>

<p *ngIf="loading">Loading...</p>
<button (click)="simulateAccess()">
  Simulate File Access
</button>
<table *ngIf="!loading && alerts.length > 0" border="1" cellpadding="8">
  <tr style="background-color: #f2f2f2;">
    <th>User ID</th>
    <th>Risk Score</th>
    <th>Risk Level</th>
    <th>AI Reason</th>
    <th>Time</th>
  </tr>

  <tr *ngFor="let alert of alerts">
    <td>{{alert.userId}}</td>
    <td>{{alert.riskScore}}</td>

    <td [style.color]="alert.riskLevel === 'High' ? 'red' : 'black'">
      {{alert.riskLevel}}
    </td>
    <td>{{ alert.aiReason }}</td> 
    <td>{{alert.createdAt}}</td>
  </tr>
</table>

<p *ngIf="!loading && alerts.length === 0">No alerts found</p>